In [2]:
import pandas as pd;
import numpy as np;

In [5]:
ds_1=pd.read_csv('city_day.csv');
x=ds_1.iloc[:,-2].values;
y=ds_1.iloc[:,-1].values;

In [6]:
print(ds_1);

                City        Date  PM2.5   PM10     NO    NO2    NOx    NH3  \
0          Ahmedabad  2015-01-01    NaN    NaN   0.92  18.22  17.15    NaN
1          Ahmedabad  2015-01-02    NaN    NaN   0.97  15.69  16.46    NaN
2          Ahmedabad  2015-01-03    NaN    NaN  17.40  19.30  29.70    NaN
3          Ahmedabad  2015-01-04    NaN    NaN   1.70  18.48  17.97    NaN
4          Ahmedabad  2015-01-05    NaN    NaN  22.10  21.42  37.76    NaN
...              ...         ...    ...    ...    ...    ...    ...    ...
29526  Visakhapatnam  2020-06-27  15.02  50.94   7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38  74.09   3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91  65.73   3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64  49.97   4.05  29.26  18.80  10.03
29530  Visakhapatnam  2020-07-01  15.00  66.00   0.40  26.85  14.05   5.20

          CO    SO2      O3  Benzene  Toluene  Xylene   AQI    AQI_Bucket
0       0.92  27.64  133.36     0.00     0.02    0.00   NaN           NaN
1       0.97  24.55   34.06     3.68     5.50    3.77   NaN           NaN
2      17.40  29.07   30.70     6.80    16.40    2.25   NaN           NaN
3       1.70  18.59   36.08     4.43    10.14    1.00   NaN           NaN
4      22.10  39.33   39.31     7.01    18.89    2.78   NaN           NaN
...      ...    ...     ...      ...      ...     ...   ...           ...
29526   0.47   8.55   23.30     2.24    12.07    0.73  41.0          Good
29527   0.52  12.72   30.14     0.74     2.21    0.38  70.0  Satisfactory
29528   0.48   8.42   30.96     0.01     0.01    0.00  68.0  Satisfactory
29529   0.52   9.84   28.30     0.00     0.00    0.00  54.0  Satisfactory
29530   0.59   2.10   17.05      NaN      NaN     NaN  50.0          Good

[29531 rows x 16 columns]

In [7]:
x=ds_1.iloc[:,-2].values;
y=ds_1.iloc[:,-1].values;

In [8]:
x

array([nan, nan, nan, ..., 68., 54., 50.])

In [9]:
y

array([nan, nan, nan, ..., 'Satisfactory', 'Satisfactory', 'Good'],
      dtype=object)

In [12]:
c=ds_1.iloc[:,0].values;

In [21]:
type(c)

numpy.ndarray

In [19]:
c=np.array(c);

In [23]:
delhi=np.where(c=='Delhi');

In [24]:
delhi

(array([10229, 10230, 10231, ..., 12235, 12236, 12237], dtype=int64),)

In [25]:
X=x[delhi];

In [26]:
X

array([472., 454., 143., ..., 233., 114., 101.])

In [29]:
lvl=y[delhi];

In [30]:
lvl

array(['Severe', 'Severe', 'Moderate', ..., 'Poor', 'Moderate',
       'Moderate'], dtype=object)

In [108]:
date=ds_1.iloc[:,1].values;

In [109]:
date

array(['2015-01-01', '2015-01-02', '2015-01-03', ..., '2020-06-29',
       '2020-06-30', '2020-07-01'], dtype=object)

In [110]:
type(date)

numpy.ndarray

In [112]:
years = pd.to_datetime(ds_1['Date']);
years = date.dt.year

AttributeError: 'numpy.ndarray' object has no attribute 'dt'

In [99]:
date=np.array(year);

In [ ]:
date17=np.where(date==2017)